/*        * ->  this means all the text */
*{
    margin: 0;
    padding: 0;
    color : white ;
    box-sizing: border-box;
    font-family: 'helventica neue';
    
  }

  body {
    background-color: black;
  }

html, body {
    width: 100%;
    height: 100%;

}
h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  text-decoration: underline;
  white-space: nowrap;
}       
.nav {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(25, 123, 159);
}
.nav div {
  display: flex ;
  align-items: center;
  gap: 25px;
 
}